@import url("https://use.typekit.net/yhr7yba.css");

@import 'assets/scss/_variables';
@import 'assets/scss/_media_queries';
@import 'assets/scss/_bulma';

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0
}

html {
  box-sizing: border-box;
  font-size: 100%;
  @include mq(xs) { font-size: 80%; }
  @include mq(sm) { font-size: 90%; }
  @include mq(lg) { font-size: 110%; }
  @include mq(xl) { font-size: 120%; }
  @include mq(xxl) { font-size: 130%; }
}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: 'new-hero', sans-serif;
  line-height: 1.4;
  background-color: $slate900;
  color: $slate200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: inherit
}

ul { list-style: none; }

button, input, select { margin: 0; }

img, video {
  height: auto;
  max-width: 100%
}

iframe {
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,th { padding: 0 }

a {
  // color: $octoblue;
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex_bottom {
  @extend .flex;
  align-items: flex-end;
}

.gap5 {
  gap: 0.5rem;
}

input {
  @extend .input;
  &[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none !important;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
      margin: 0 !important;
    }
  }
}

body > iframe {
  display: none;
}