# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
build_webpack

# misc
.DS_*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
logs
*.log
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock
**/*.backup.*
**/*.back.*
.vercel
.vscode
.node-version

#truffle
.tern-port
.truffle-solidity-loader
.vagrant/**
blockchain/geth/**
blockchain/keystore/**
blockchain/history
