@import 'assets/scss/_variables';

$modal-content-width: 24rem;
$modal-overlay-bgColor: rgba($slate800, 0.85);
$modal-content-bgColor: $slate900;


.tableContainer {
  min-width: 480px;
  margin: 2rem 0;
}


.slotsTable {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  user-select: none;
  border-collapse: collapse;


  thead th {
    color: $slate400;
    font-size: 0.8rem;
    font-weight: normal;

    &:first-child {
      width: 4rem;
    }
  }

  tbody th:first-child {
    width: 4rem;
    background-color: darken($slate900, 4%);
    color: $slate200;
    text-align: center;
    vertical-align: middle;
  }

  tbody {
    tr:hover {
      &>td.enabled:not(.selecting) {
        background-color: darken($slate900, 10%);
      }

      &>th {
        color: $greenyellow;
        background-color: darken($slate900, 10%);
      }
    }
  }

  th {
    transition: all 0.4s ease;
  }

  td {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid transparent;
    box-sizing: border-box;
    background-clip: padding-box;
    height: 3.3rem;
    padding: 0.25rem;
    vertical-align: middle;
    transition: all 0.4s ease;

    &.enabled {
      background-color: darken($slate900, 4%);
      cursor: cell;
    }

    &.disabled {
      background-color: $slate700;
      cursor: not-allowed;
    }

    &.selecting {
      background-color: $greenyellow;
    }

    &.selected {
      background-color: $green;
    }

    &.booked {
      background-color: darken($slate900, 3%);
    }

    &.hasChild {
      position: relative;
      overflow: visible;
    }
  }
}

.ticket {
  position: absolute;
  top: 2px;
  left: 2px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 4px);
  padding: 0.2rem 0.4rem 0;
  background-color: rgba($greenyellow, 0.1);
  border: 1px solid $greenyellow;
  border-left-width: 0.3rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 1rem rgba($greenyellow, 0.1);
  color: $greenyellow;
  line-height: 1.1;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    z-index: 10;
    border-color: $lime;
    background-color: rgba($greenyellow, 0.2);
    box-shadow: 0 0.25rem 1rem rgba($greenyellow, 0.3);
  }

  &>svg {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    width: 0.65rem;
    height: 0.65rem;
  }

  &>small {
    display: block;
    font-size: 0.625rem;
    margin-bottom: 0.1rem;
  }

  &>span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: bold;
    font-size: 0.8rem;
  }
}

.snackBar {
  z-index: $zindex-alerts;

  &>div {
    display: flex;
    align-items: center;
    background-color: green;
    border-radius: $radius;
    padding: 0.75rem 1rem;
    font-size: 0.8rem;
    font-weight: bold;

    &[data-type="success"] {
      background-color: lime;
      color: $slate900;
    }

    &[data-type="error"] {
      background-color: #e11d48;
    }
  }


  svg {
    margin-right: 0.75rem;
    width: 1.25rem;
    height: 1.2 fwb5rem;
  }

  // font-weight: bold;
}




.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-modal;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease, visibility 0s ease;

  &:not([data-active="true"]) {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.4s ease;
  }

  &Bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $modal-overlay-bgColor;
  }

  &Content {
    position: relative;
    z-index: 2;
    width: $modal-content-width;
    max-width: 90vw;
    padding: 2rem;
    border-radius: $radius-large;
    background-color: $modal-content-bgColor;
  }

  &Icon {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    color: $slate600;

    &[data-encryption="true"] {
      color: $primary;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  form {
    display: block;
    margin: 0;
    padding: 0;
  }

  label {
    font-size: 0.8rem;
    color: $slate400;
    line-height: 1;
  }

  input {
    background-color: transparent;
    height: auto;
    padding: 0.25rem 0;
    margin: 0 0 1rem;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $slate600;
    caret-color: $greenyellow;
    font-size: 1.125rem;

    &::selection {
      background-color: rgba($greenyellow, 0.3);
    }

    &::-moz-selection {
      background-color: rgba($greenyellow, 0.3);
    }

    &::-webkit-input-placeholder {
      color: $slate600;
      font-weight: normal;
    }

    &::placeholder {
      color: $slate600;
      font-weight: normal;
    }

    &,
    &:focus {
      appearance: none;
      outline: none;
      box-shadow: none;
    }

    &:focus {
      // border-bottom-color: lightgreen;
    }
  }

  small {
    display: block;
    margin-bottom: 1rem;
    font-size: 0.825rem;
  }

  :global .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
  }

  button {
    font-weight: bold;
    font-size: 0.8rem;
    transition: all 0.2s ease;
  }

  :global button.is-simple {
    background-color: transparent;
    border: 2px solid $slate700;
    color: $slate400;

    &:hover {
      color: $greenyellow;
      border-color: $greenyellow;
    }
  }

  :global button.is-primary {
    &:hover {
      background-color: lime;
    }
  }

  h3 {
    margin-bottom: 0.25rem;
    font-weight: bold;
  }
}

.decryptTitle {
  position: relative;
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 0.25rem 0.4rem;
  overflow: hidden;
  font-size: 0.8rem;
  color: rgba($slate600, 0.5);
  background-color: rgba($slate800, 0.5);
  border-radius: $radius;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.875rem;
    color: $primary;
    transition: color 0.3s ease;
    & > span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      height: 2.4rem;
      padding: 0 1.2rem;
      background-color: $slate900;
      border-radius: 1.2rem;
    }
  }
  & > p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    word-wrap: break-word;
    overflow: hidden;
  }
  svg {
    width: 1rem;
    height: 1rem;
  }

  &:hover {
    background-color: rgba($slate800, 0.8);

    &>div {
      color: $lime;
    }

  }
}



.customSwitch {
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0.25rem 0 !important;

  &:before {
    content: "off";
    width: 1.5rem;
    text-align: right;
  }
  &[data-switch="true"]:before {
    content: 'on';
  }

  :global {
    .MuiSwitch {
      &-root {
        width: 42px;
        height: 26px;
        padding: 0;
        margin-left: 0.5rem;
      }

      &-switchBase {
        padding: 0;
        margin: 2px;
        transition-duration: 0.3s;
        color: $slate300;

        &.Mui-checked {
          transform: translateX(16px) !important;
          color: #fff;

          &+.MuiSwitch-track {
            background-color: $lime;
            opacity: 1 !important;
            border: 0;
          }
        }

        &.Mui-focusVisibe .MuiSwitch-thumb {
          color: red;
          border: 6px solid blue;
        }
      }

      &-thumb {
        box-sizing: border-box;
        width: 22px;
        height: 22px;
      }

      &-track {
        border-radius: 13px;
        background-color: $slate700;
        opacity: 1;
        transition: all 0.5s ease;
      }
    }

    .MuiFormControlLabel-label {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}